{% extends "esqueleto.html" %}

{% block contenido %}
    <div class="container">
        <h2>{{ libro.titulo }}, Capítulo {{ libro.num_capitulos + 1}}</h2>
        <hr>
        <form action="/capitulos/editar?id={{ capitulo.key.urlsafe() }}&volver={{ volver }}" method="post" onsubmit="return checkFormCrearLibro()">
            <div class="form-group">
                <label for="edTituloCapitulo">Título</label>
                <input required id="edTituloCapitulo" name="edTituloCapitulo" class="form-control" value="{{ capitulo.titulo }}"/>
            </div>
            <div class="form-group">
                <label for="edTexto">Texto</label>
                <textarea required id="edTexto" name="edTexto" class="form-control" rows="15">{{ capitulo.texto }}</textarea>
            </div>
            <a href="/libros/ver?id={{ libro.key.urlsafe() }}&volver={{ volver }}"><i class="fa fa-arrow-left" style="font-size: 2em" aria-hidden="true"></i></a>
            <button type="submit" class="btn btn-primary mb-2" style="float: right">Guardar</button>
        </form>

    </div>
{% endblock %}